.dialogs_items {
    margin-bottom: 20px;
}

.dialogs_items > a {
    margin-left: 10px;
}

.item > img {
    width: 60px;
    border-radius: 5px;
    text-align: center;
}

.name a {
    color: black;
    text-decoration: none;
    text-align: center;
}
