.item {
    color: black;
}

.item > img {
    width: 60px;
    border-radius: 5px;
}

.item_name {
    font-size: 1.2em;
    font-style: oblique;
}

.message {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}