.item {
    color: black;
    background: darkseagreen;
    /*margin: 10px;*/
    border-radius: 10px;
}

.item > img {
    width: 60px;
    margin: 10px;
    border-radius: 5px;
}

.item_name {
    font-size: 1.2em;
    font-style: oblique;
}

.message {
    margin: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}