body {
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  background: aliceblue;
  margin: 30px;
}

.app {
  display: grid;
  grid-template-columns: 3fr 700px 3fr;
}

.app-wrapper {
  grid-column: 2;

  display: grid;
  grid-template-areas:
  "h h"
  "n c";

  grid-template-rows: 80px 1fr;
  grid-template-columns: 100px 1fr;
  justify-content: center;
}

.app-wrapper-content {
  grid-area: c;
  background: linear-gradient(90deg, darkgrey 0%, white 140%);
}

